.App{
  background-color: #eee;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}

/* html{
  scroll-behavior: smooth;
}
#home{
  height: auto;
}
#about{
  height: auto;
}
#resume{
  height: auto;
}
#project{
  height: auto;
}
#contact{
  height: auto;
}

@media screen and (max-width:910px) {
  html{
    scroll-behavior: smooth;
  }
  #home{
    height: auto;
  }
  #about{
    height: auto;
  }
  #resume{
    height: auto;
  }
  #project{
    height: auto;
  }
  #contact{
    height: auto;
  }
} */